img{
    border: 2px darkblue;
}
section{
    padding: 15px;
/*     background-color:dimgrey ; */
    font-family: sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
}
